.header{
    color: #e57f84;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.more{
    padding: 20px;
    width: 70px;
    cursor: pointer;
}

h2{
    font-size: 1.8rem;
}

.title{
    flex:1;
    text-align: center;
}

button.login{
    margin: 20px;
    background: #2f5061;
    border-radius: 50%;
    padding: 0px;
    height:40px;
    width: 40px;
}
button.login p{
    position:absolute;
    display: none;
    /* background-color: yellow; */
    color: #e57f84;
    transform: translateX(-60px);
}
button.login:hover p{
    display:block;
}

img{
    transition: ease 0.6s;
}